---
import 'tailwindcss/tailwind.css';
---

<script>
  window.addEventListener('load', () => {
    console.log('on load');
  });
</script>

<html>
  <body>
    <p class="font-bold">Hello world.</p>
  </body>
</html>